### 项目背景：
- 为三年级小学生制作一个三年级下学期每周任务完成情况的网站，单项任务完成即可打钩，打钩后自动计算出当前周的得分。
- 任务明细如图：
![这是图片](/doc/tasks detail.png "tasks detail")

### 项目要求：
- 网站要求使用vue3+ts+vite，我自己来构建生成html。
- 存储：html可能会在不同的电脑上打开，需要能随时随地查看历史周的完成情况。
- ui：简洁，美观，能吸引小朋友，并加入一些鼓励和表扬的动画元素，鼓励小朋友完成任务。
- 组件与模块化一定要合理，能复用的一定要复用。在写代码的过程中，可以新建.vue组件。

### 项目目录：
- src：存放生成的代码
- doc：存放项目文档

### 文档：
- README.md 